<form name="form" (ngSubmit)="onSubmit()">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h2 class="no-margin">Crear salida</h2>
        </div>
        <div class="panel-body">

                <div class="col-xs-12 col-sm-2">
                    <div class="form-group">
                        <label for="fecha"> Fecha:</label>
                        <div class="controls">
                            <input type="date" class="form-control" [(ngModel)]="salida.fecha" name="fecha" required>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <div class="form-group">
                        <label for="hora_salida"> Salida:</label>
                        <div class="controls">
                            <input type="time" class="form-control" [(ngModel)]="salida.hora_salida" name="hora_salida" required>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <div class="form-group">
                        <label for="hora_regreso"> Regreso:</label>
                        <div class="controls">
                            <input type="time" class="form-control" [(ngModel)]="salida.hora_regreso" name="hora_regreso" required>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <div class="form-group">
                        <label for="lugar"> * Lugar:</label>
                        <div class="controls">
                            <input type="text" class="form-control" [(ngModel)]="salida.lugar" name="lugar" list="lugares" required>
                            <datalist id="lugares">
                                <option>Cojutepeque</option>
                                <option>Suchitoto</option>
                                <option>Sensuntepeque</option>
                            </datalist>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        <label for="encargado"> Encargado:</label>
                        <div class="controls">
                            <select class="form-control" name="encargado" [(ngModel)]="salida.encargado_id" required>
                                <option [ngValue]="5">Walter Cuellar</option>
                                <option [ngValue]="6">Gustavo Jovel</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="objetivo"> Objetivo:</label>
                        <div class="controls">
                            <textarea class="form-control" [(ngModel)]="salida.objetivo" name="objetivo"  cols="30" rows="3" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="justificacion"> Justificación:</label>
                        <div class="controls">
                            <textarea class="form-control" [(ngModel)]="salida.justificacion" name="justificacion" cols="30" rows="3" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="observacion"> Observación:</label>
                        <div class="controls">
                            <textarea class="form-control" [(ngModel)]="salida.observacion" name="observacion" cols="30" rows="3" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 text-center">
                <br>
                    <div class="form-group">
                        <label for="asesores"> Participantes:</label>
                        <div class="controls">
                            <div class="checkbox-inline well" *ngFor="let p of asesores" [ngClass]="{'text-primary': p.estado }">
                              <label>
                                <i class="fa fa-user"></i> <br/> {{p.name}} <br/>
                                <input type="checkbox" class="form-control checkbox" (change)="onChange(p)" [checked]="p.estado" />
                              </label>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="panel-footer">
            <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>

            <button [disabled]="loading" class="btn btn-primary pull-right">
                <span *ngIf="!loading">Guardar</span>
                <span *ngIf="loading">Guardando...</span>
            </button>
        </div>
    </div>
</form>
