<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12">
              <button (click)="openModal(mEmpresario, {})" class="pull-right btn btn-primary" tooltip="Agregar">
                  Agregar
              </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th class="text-center"><i class="fa fa-cog"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3" class="text-center" *ngIf="empresa.empresarios?.length < 1">
                        <span class="label label-info">No tiene empresarios registradas</span>
                    </td>
                </tr>

                <tr class="animated fadeIn" *ngFor=" let empresario of empresa?.empresarios">
                    
                    <td>{{ empresario.empresario.nombre }}</td>
                    <td>{{ empresario.tipo }}</td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a class="btn btn-default" (click)="openModal(mEmpresario, empresario)" tooltip="Editar">
                            <i class="fa fa-pencil"></i>
                            </a>
                            <a class="btn btn-default" (click)="eliminar(empresario)" tooltip="Eliminar">
                            <i class="fa fa-trash"></i></a>
                        </div> 
                    </td>

                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>

<ng-template #mEmpresario>
 <div class="modal-header text-center">
   <h3>Empresario</h3>
   <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 <div class="modal-body">
    <form #form="ngForm" (ngSubmit)="onSubmit()">
       <div class="row">
           <div class="form-group col-md-8">
               <label for="nombre">* Nombre:</label>
               <input type="text" class="form-control" [(ngModel)]="empresario?.empresario.nombre" name="empresario.empresario.nombre" placeholder="Nombre" required>
           </div>
           <div class="form-group col-sm-4">
               <label for="nit">NIT:</label>
               <input type="text" class="form-control" [(ngModel)]="empresario?.empresario.nit" name="empresario.empresario.nit" placeholder="xxxx-xxxxxx-xxx-x">
           </div>
           <div class="form-group col-sm-4">
               <label for="nit">DUI:</label>
               <input type="text" class="form-control" [(ngModel)]="empresario?.empresario.dui" name="empresario.empresario.dui" placeholder="xxxxxxx-x">
           </div>
           <div class="form-group col-sm-4">
               <label for="telefono">Teléfono:</label>
               <input type="text" class="form-control" [(ngModel)]="empresario?.empresario.telefono" name="empresario.empresario.telefono" placeholder="0000-0000">
           </div>
           <div class="form-group col-sm-4">
               <label for="correo">Correo:</label>
               <input type="email" class="form-control" [(ngModel)]="empresario?.empresario.correo" name="empresario.empresario.correo" placeholder="Correo">
           </div>
           <div class="form-group col-sm-3">
               <label for="municipio">Municipio:</label>
               <input type="text" class="form-control" [(ngModel)]="empresario?.empresario.municipio" name="empresario.empresario.municipio" placeholder="Municipio">
           </div>
           <div class="form-group col-sm-3">
               <label for="departamento">Departamento:</label>
               <input type="text" class="form-control" [(ngModel)]="empresario?.empresario.departamento" name="empresario.empresario.departamento" placeholder="Departamento">
           </div>
           <div class="form-group col-sm-6">
               <label for="direccion">Dirección:</label>
               <input type="text" class="form-control" [(ngModel)]="empresario?.empresario.direccion" name="empresario.empresario.direccion" placeholder="Dirección">
           </div>
           <div class="form-group col-sm-12">
               <label for="tipo">Tipo:</label>
               <select class="form-control" [(ngModel)]="empresario.tipo" name="empresario.tipo">
                    <option value="Propietario">Propietario</option>
                    <option value="Representante">Representante</option>
               </select>
           </div>
           <div class="col-xs-12">
             <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>
             <button [disabled]="!form.form.valid || loading" class="btn btn-primary pull-right">
                 <span *ngIf="!loading">Guardar</span>
                 <span *ngIf="loading">Guardando...</span>
             </button>
           </div>
       </div>
    </form>
 </div>
</ng-template>