<app-pasos></app-pasos>
<form name="form" (ngSubmit)="onSubmit()">
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label> * Cliente:</label>
                            <div class="controls">
                                <input class="form-control" type="text"  placeholder="Buscar" ng-change="buscar(search);" autofocus>
                                <table class="table table-bordered table-hover table-responsive" ng-show="empresas" style="position: absolute; background-color: white; z-index: 10000;">
                                    <tbody>
                                        <!-- <tr ng-repeat="entidad in empresas" ng-click="select(entidad)" style="cursor:pointer;">
                                            <td>{{entidad.nombre}}</td>
                                        </tr> -->
                                    </tbody>
                                </table> 
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label for="tema"> * Tema:</label>
                            <div class="controls">
                                <input type="text" class="form-control" [(ngModel)]="termino.tema" name="tema" placeholder="Nombre" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            <label for="obj_general"> Objetivo General:</label>
                            <div class="controls">
                            <textarea class="form-control" previsualizar name="obj_general" [(ngModel)]="termino.obj_general" name="obj_general" cols="30" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            <label for="obj_especifico"> Objetivo Especifico:</label>
                            <div class="controls">
                                <textarea class="form-control" previsualizar name="obj_especifico" [(ngModel)]="termino.obj_especifico" name="obj_especifico" cols="30" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            <label for="productos"> Productos:</label>
                            <div class="controls">
                            <textarea class="form-control" previsualizar name="productos" [(ngModel)]="termino.productos" name="productos" cols="30" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            <label> Especialidad:</label>
                            <div class="controls">
                                <select class="form-control">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            <label> Fecha Limite:</label>
                            <div class="controls">
                                <input type="date" class="form-control" [(ngModel)]="termino.fecha" name="fecha"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            <label> Trabajo Local:</label>
                            <div class="controls">
                                <input type="text" class="form-control" [(ngModel)]="termino.trabajo_local" name="trabajo_local" placeholder="Lugar, Calle etc..." />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            <label> Semanas de Ejecución:</label>
                            <div class="controls">
                                <input type="number" class="form-control" [(ngModel)]="termino.tiempo_ejecucion" name="tiempo_ejecucion" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            <label> Financiamiento:</label>
                            <div class="controls">
                                <input type="number" class="form-control" [(ngModel)]="termino.financiamiento" name="financiamiento"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            <label> Aporte Empresarial:</label>
                            <div class="controls">
                                <input type="number" class="form-control" [(ngModel)]="termino.aporte" name="aporte" />
                            </div>
                        </div>
                    </div>
            </div>
            <div class="panel-footer">
                <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>

                <button [disabled]="loading" class="btn btn-primary pull-right">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </div>
</div>
</form>


