<div class="row animated fadeIn">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                      <button (click)="openModal(mproducto, {})" class="pull-right btn btn-primary" tooltip="Agregar">
                          Agregar
                      </button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Descripción</th>
                            <th class="text-center"><i class="fa fa-cog"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4" class="text-center" *ngIf="empresa?.productos.length < 1">
                                <span class="label label-info">No tiene productos registrados</span>
                            </td>
                        </tr>

                        <tr class="animated fadeIn" *ngFor="let producto of empresa?.productos">
                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.precio | currency:'USD':'true':'1.2'}}</td>
                            <td>{{ producto.descripcion }}</td>
                            <td class="text-center" width="100">
                                <div class="btn-group" role="group">
                                    <a class="btn btn-default" (click)="openModal(mproducto, producto)" tooltip="Editar">
                                    <i class="fa fa-pencil"></i>
                                    </a>
                                    <a class="btn btn-default" (click)="eliminar(producto)" tooltip="Eliminar">
                                    <i class="fa fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #mproducto>
  <div class="modal-header text-center">
    <h3 class="modal-title">Indicador</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(producto)">

        <div class="row">
            <div class="form-group col-sm-12">
                <label>Nombre:</label>
                <input type="text" class="form-control" [(ngModel)]="producto.nombre" name="producto.nombre" placeholder="Nombre" required focus="true">
            </div>
            <div class="form-group col-sm-12">
                <label>Precio:</label>
                <input type="number" class="form-control" [(ngModel)]="producto.precio" name="producto.precio" placeholder="Precio">
            </div>
            <div class="form-group col-sm-12">
                <label>Descripción:</label>
                <input type="text" class="form-control" [(ngModel)]="producto.descripcion" name="producto.descripcion" placeholder="Descripción">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="!form.form.valid || loading" > Agregar </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
