<div class="panel panel-default">
    <div class="panel-heading text-center">
        <h2 class="no-margin">Clientes</h2>
        <div class="toolbar pull-right">
            <div class="btn-group pull-left">
                <!-- Buscar -->
                <div class="pull-left"> <input type="text" class="form-control"> </div>
                <button class="btn btn-default" tooltip="Actualizar" ng-click="cargar();">
                    <i class="fa fa-search"></i>
                </button>
                <!-- Actualizar -->
                <button class="btn btn-default" tooltip="Actualizar" (click)="loadAll();">
                    <i class="fa fa-refresh"></i>
                </button>
                <!-- Crear -->
                <a class="btn btn-primary" tooltip="Crear" [routerLink]="['/cliente/empresa/crear']"> 
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th>Empresa</th>
                    <th>Empresario</th>
                    <th>Municipio</th>
                    <th>Departamento</th>
                    <th>Sector</th>
                    <th>Tamaño</th>
                    <th class="text-center"><i class="fa fa-cog"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="8" class="text-center" *ngIf="clientes.length <= 0"><span class="label label-info">Cargando...</span></td>
                </tr>

                <tr *ngFor=" let cliente of clientes.data">
                    
                    <td class="text-center">{{cliente.id}}</td>
                    <td>{{cliente.empresa.nombre}}</td>
                    <td>{{cliente.empresario.nombre}}</td>
                    <td>{{cliente.empresa.municipio}}</td>
                    <td>{{cliente.empresa.departamento}}</td>
                    <td>{{cliente.empresa.sector}}</td>
                    <td>{{cliente.empresa.tamano}}</td>
                    <td class="text-center">
                        <div class="btn-group btn-group-xs" role="group" style="width:50px;">
                            <a class="btn btn-default" [routerLink]="['/cliente/empresa', cliente.id]" data-toggle="tooltip" title="Editar">
                            <i class="fa fa-pencil"></i>
                            </a>
                            <a class="btn btn-default" (click)="delete(cliente.id)" data-toggle="tooltip" title="Eliminar">
                            <i class="fa fa-trash"></i></a>
                        </div>  
                    </td>

                </tr>
            </tbody>
            <tfoot>
                <tr *ngIf="clientes.last_page > 1">
                    <td colspan="8" class="text-center">
                        <nav>
                        <ul class="pagination">
                            <li class="page-item" [ngClass]="{'disabled': clientes.current_page == 1}">
                                <a class="page-link" href="javascript:void(0)" (click)="setPaginacion(clientes.current_page - 1)" >Previous</a>
                            </li>
                            
                            <li class="page-item" [ngClass]="{'active': page == clientes.current_page}" *ngFor="let page of paginacion" >
                                <a class="page-link" href="javascript:void(0)" (click)="setPaginacion(page)">{{page}} </a>
                            </li>

                            <li class="page-item" [ngClass]="{'disabled': clientes.current_page == clientes.last_page}">
                                <a class="page-link" href="javascript:void(0)" (click)="setPaginacion(clientes.current_page + 1)">Next</a>
                            </li>
                        </ul>
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
