<div class="row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Nombre</th>
                <th class="text-center">Tipo</th>
                <th class="text-center">Estado</th>
                <th class="text-center"><i class="fa fa-cog"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="8" class="text-center" *ngIf="actividad.aplicaciones?.length < 1">
                    <span class="label label-info">No tiene aplicaciones registradas</span>
                </td>
            </tr>

            <tr class="animated fadeIn" *ngFor=" let aplicacion of actividad?.aplicaciones">
                
                <td class="text-center"><img  class="img-circle" *ngIf="aplicacion.avatar" src="{{apiService.baseUrl + '/img/usuarios/' + 'default.jpg'}}" height="50px"/></td>
                <td>{{ aplicacion.nombre }}</td>
                <td class="text-center">{{ aplicacion.tipo }}</td>
                <td class="text-center">
                    <span class="label label-pop" [ngClass]="{'label-danger' : aplicacion?.estado == 'En Revisión', 'label-success' : aplicacion?.estado == 'Seleccionado'}" [popover]="popTemplate" [outsideClick]="true">
                        {{aplicacion.estado}}
                    </span>
                    <ng-template #popTemplate>
                        <button class="btn btn-default btn-xs" (click)="setEstado(aplicacion, 'En Revisión')">En Revisión</button>
                        <button class="btn btn-default btn-xs" (click)="setEstado(aplicacion, 'Seleccionado')">Seleccionado</button>
                    </ng-template>
                </td>
                <td class="text-center">
                    <div class="btn-group" role="group">
                        <a class="btn btn-default" (click)="openModalAplicacion(mAplicacion, aplicacion)" tooltip="Ver detalle">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>  
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #mAplicacion>
  <div class="modal-header">
    <div class="modal-title text-center">
        <div class="col-xs-12 text-center">
            <img class="img-circle" *ngIf="aplicacion.avatar" src="{{apiService.baseUrl + '/img/usuarios/' + 'default.jpg' }}" height="50px"/>
        </div>

        <div class="col-xs-12 text-center">
            <h3>{{ aplicacion.nombre }}</h3>
            <p>{{ aplicacion.tipo }}</p>
        </div>
        <p class="text-center">
            <span class="label label-pop" [ngClass]="{'label-danger' : aplicacion?.estado == 'Iniciado', 'label-success' : aplicacion?.estado == 'Seleccionado'}" [popover]="popTemplate" [outsideClick]="true">
                {{aplicacion.estado}}
            </span>
            <ng-template #popTemplate>
                <button class="btn btn-default btn-xs" (click)="setEstado(aplicacion, 'Iniciado')">Iniciado</button>
                <button class="btn btn-default btn-xs" (click)="setEstado(aplicacion, 'Seleccionado')">Seleccionado</button>
            </ng-template>
        </p>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <div class="row">
            <p class="col-xs-12"><b>Nota:</b> {{ aplicacion.nota }}</p>
            <p class="col-xs-6"><b>Sexo:</b> {{ aplicacion.detalle.sexo }}</p>
            <p class="col-xs-6"><b>Municipio:</b> {{ aplicacion.detalle.municipio }}</p>
            <p class="col-xs-6"><b>Celular:</b> {{ aplicacion.detalle.celular }}</p>
            <p class="col-xs-6"><b>Empresa:</b> {{ aplicacion.detalle.empresa }}</p>
            <p class="col-xs-6"><b>Carrera:</b> {{ aplicacion.detalle.carrera }}</p>
            <p class="col-xs-6"><b>Correo:</b> {{ aplicacion.detalle.correo }}</p>
            <p class="col-xs-6"><b>Direccion:</b> {{ aplicacion.detalle.direccion }}</p>
            <p class="col-xs-6"><b>Descripcion:</b> {{ aplicacion.detalle.descripcion }}</p>
            <p class="col-xs-6"><b>Municipio:</b> {{ aplicacion.detalle.municipio }}</p>
            <p class="col-xs-6"><b>Telefono:</b> {{ aplicacion.detalle.telefono }}</p>
            <p class="col-xs-6"><b>Facebook:</b> {{ aplicacion.detalle.url_facebook }}</p>
            <p class="col-xs-6"><b>Twitter:</b> {{ aplicacion.detalle.url_twitter }}</p>
            <p class="col-xs-6"><b>Linkedin:</b> {{ aplicacion.detalle.url_linkedin }}</p>
        </div>
  </div>
</ng-template>