<div class="container">

<section class="content-header">
    <h1> Actividad <small>Edición</small> </h1>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Actividad</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="row">

        
        <div class="col-sm-12">

          
          <div class="box box-primary" style="min-height: 190px;">
            <div class="box-body box-profile">
                <div class="imagen-upload">
                    <img *ngIf="actividad.img && !preview" src="{{ apiService.baseUrl + 'img/actividades/' + actividad.img }}" height="100" style="margin: auto;">
                    <img *ngIf="preview" src="{{ preview }}" height="100">
                    <input type="file" name="img" id="file" class="inputfile" (change)="setFile($event)" accept="image/png, image/jpeg">
                    <label for="file"><i class="fa fa-search"></i></label>
                </div>

                <h3 class="text-center">{{ actividad.nombre }}</h3>
                <p class="text-center">{{ actividad.created_at | date:'dd/MM/yyyy hh:mm:ss a' }}</p>
            </div>
          </div>
        </div>
        
        
        <div class="col-sm-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#info" data-toggle="tab">Información</a></li>
              <li><a href="#aplicaciones" data-toggle="tab">Aplicaciones</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="info">
                    <app-actividad-info *ngIf="actividad.id" [actividad] = "actividad"></app-actividad-info>
                </div>

                <div class="tab-pane fade" id="aplicaciones">
                   <app-actividad-aplicaciones *ngIf="actividad.id" [actividad] = "actividad"></app-actividad-aplicaciones>
                   
                </div>        
            </div>
          </div>
        </div>

    </div>
</section>

</div>





