<form name="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="nombre">* Nombre:</label>
            <input type="text" class="form-control" [(ngModel)]="actividad.nombre" name="nombre" placeholder="Nombre" required autofocus>
        </div>
        <div class="form-group col-sm-6">
            <label for="descripcion">Descripción:</label>
            <input type="text" class="form-control" [(ngModel)]="actividad.descripcion" name="descripcion" placeholder="xxxx-x">
        </div>
        <div class="form-group col-sm-3">
            <label for="tipo">Tipo:</label>
            <select class="form-control" [(ngModel)]="actividad.tipo" name="tipo">
                <option value="Capacitación">Capacitación</option>
                <option value="Webinar">Webinar</option>
                <option value="Taller">Taller</option>
                <option value="Seminario">Seminario</option>
                <option value="Curso">Curso</option>
                <option value="Evento">Evento</option>
            </select>
        </div>
        <div class="form-group col-sm-3">
            <label for="estado">Estado:</label>
            <select class="form-control" [(ngModel)]="actividad.estado" name="estado">
                <option value="Inactivo">Inactivo</option>
                <option value="Activo">Activo</option>
                <option value="Ejecución">Ejecución</option>
                <option value="Finalizado">Finalizado</option>
            </select>
        </div>
        <div class="form-group col-sm-3">
            <label for="categoria">Categoria:</label>
            <select class="form-control" [(ngModel)]="actividad.categoria" name="categoria">
                <option value="Formación">Formación</option>
                <option value="Comercialización">Comercialización</option>
                <option value="Otro">Otro</option>
            </select>
        </div>
        <div class="form-group col-sm-3">
            <label>Especialidad:</label>
                <select class="form-control" [(ngModel)]="actividad.especialidad_id" name="especialidad_id">
                    <optgroup *ngFor="let esp of especialidades" label="{{esp.nombre}}">
                        <option *ngFor="let sub of esp.subespecialidades" [ngValue]="sub.id">{{ sub.nombre }}</option>
                      </optgroup>
                </select>
        </div>
        <div class="form-group col-md-3">
            <label for="cupo">* Cupo:</label>
            <input type="number" class="form-control" [(ngModel)]="actividad.cupo" name="cupo" placeholder="0" required>
        </div>
        <div class="form-group col-sm-3">
            <label for="inicio">Inicio:</label>
            <input type="date" class="form-control" [(ngModel)]="actividad.fecha_inicio" name="actividad.inicio">
        </div>
       
        <div class="form-group col-sm-3">
            <label for="fin">Finalización:</label>
            <input type="date" class="form-control" [(ngModel)]="actividad.fecha_fin" name="actividad.fin">
        </div>
        
        <div class="form-group col-sm-3" *ngIf="actividad.id">
            <label for="duracion">Asesores:</label>
            <div style="display: block;">
                <span *ngFor=" let asesor of actividad?.asesores">
                    <a href="javascript::void(0);" (click)="quitarAsesor(asesor)"><img class="img-circle" *ngIf="asesor.avatar" src="{{apiService.baseUrl + '/img/team/' + asesor.avatar }}" height="50px" tooltip="{{ asesor.nombre }}"/></a>
                </span>
                <a href="javascript::void(0);" (click)="openModalAsesores(mAsesores)"><img class="img-circle" src="{{apiService.baseUrl + '/img/icons/plus-icon.jpg' }}" height="50px" tooltip="Agregar"/></a>
            </div>
            
        </div>
        <div class="form-group col-sm-3">
            <label for="inicio">Hora inicio:</label>
            <timepicker [(ngModel)]="actividad.hora_inicio" name="hora_inicio"></timepicker>
        </div>
        <div class="form-group col-sm-3">
            <label for="inicio">Hora fin:</label>
            <timepicker [(ngModel)]="actividad.hora_fin" name="hora_fin"></timepicker>
        </div>
        <div class="form-group col-md-12">
                <quill-editor name="contenido" [(ngModel)]="actividad.contenido"></quill-editor>

        </div>

        <div class="col-xs-12">
          <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>
          <button [disabled]="loading" class="btn btn-primary pull-right">
              <span *ngIf="!loading">Guardar</span>
              <span *ngIf="loading">Guardando...</span>
          </button>
          
        </div>
        
    </div>
</form>

<ng-template #mAsesores>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Asesores</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <div class="row">
            <table class="table table-hover">
                <tbody>
                    <tr *ngFor=" let asesor of asesores">
                        <td class="text-center"><img class="img-circle" *ngIf="asesor.avatar" src="{{apiService.baseUrl + '/img/team/' + asesor.avatar }}" height="50px" tooltip="{{ asesor.nombre }}"/></td>
                        <td>{{ asesor.nombre }}</td>
                        <td class="text-center">
                            <button (click)="agregarAsesor(asesor)" class="btn btn-primary" [disabled]="loading">
                                <span *ngIf="!loading">Agregar</span>
                                <span *ngIf="loading">Agregando</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
  </div>
</ng-template>