<div class="panel panel-default">
    <div class="panel-heading text-center">
        <h2 class="no-margin">Capacitaciones</h2>
        <div class="toolbar pull-right">
            <div class="btn-group pull-left">
                <!-- Buscar -->
                <div class="pull-left"> <input type="text" class="form-control"> </div>
                <button class="btn btn-default" tooltip="Actualizar" ng-click="cargar();">
                    <i class="fa fa-search"></i>
                </button>
                <!-- Actualizar -->
                <button class="btn btn-default" tooltip="Actualizar" (click)="loadAll();">
                    <i class="fa fa-refresh"></i>
                </button>
                <!-- Crear -->
                <a class="btn btn-primary" tooltip="Crear" [routerLink]="['/capacitacion/termino/crear']"> 
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th>Tema</th>
                    <th>Especialidad</th>
                    <th>Asesor</th>
                    <th class="text-center">Inicio</th>
                    <th class="text-center">Fin</th>
                    <th>Consultor</th>
                    <th class="text-center">Estado</th>
                    <th class="text-center"><i class="fa fa-cog"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="10" class="text-center" *ngIf="capacitaciones.length <= 0"><span class="label label-info">Cargando...</span></td>
                </tr>

                <tr *ngFor=" let capacitacion of capacitaciones.data">
                    
                    <td class="text-center">{{capacitacion.id}}</td>
                    <td>{{capacitacion.tema}}</td>
                    <td>{{capacitacion.especialidad}}</td>
                    <td>{{capacitacion.asesor}}</td>
                    <td class="text-center">{{capacitacion.hora_inicio}}</td>
                    <td class="text-center">{{capacitacion.hora_fin}}</td>
                    <td>{{capacitacion.consultor}}</td>
                    <td class="text-center">
                        <span class="label" [ngClass]="{
                            'label-success': capacitacion.estado == 'Finalizada',
                            'label-primary': capacitacion.estado == 'Contratada',
                            'label-info': capacitacion.estado == 'Enviada',
                            'label-warning': capacitacion.estado == 'Creada'}">
                            {{capacitacion.estado}}
                        </span>
                    </td>

                    <td class="text-center">
                        <div class="btn-group btn-group-xs" role="group" style="width:50px;">
                            <a class="btn btn-default" [routerLink]="['/capacitacion/termino/', capacitacion.id]" data-toggle="tooltip" title="Editar">
                            <i class="fa fa-pencil"></i>
                            </a>
                            <a class="btn btn-default" (click)="delete(capacitacion.id)" data-toggle="tooltip" title="Eliminar">
                            <i class="fa fa-trash"></i></a>
                        </div>  
                    </td>

                </tr>
            </tbody>
            <tfoot>
                <tr *ngIf="capacitaciones.last_page > 1">
                    <td colspan="10" class="text-center">
                        <nav>
                        <ul class="pagination">
                            <li class="page-item" [ngClass]="{'disabled': capacitaciones.current_page == 1}">
                                <a class="page-link" href="javascript:void(0)" (click)="setPaginacion(capacitaciones.current_page - 1)" >Previous</a>
                            </li>
                            
                            <li class="page-item" [ngClass]="{'active': page == capacitaciones.current_page}" *ngFor="let page of paginacion" >
                                <a class="page-link" href="javascript:void(0)" (click)="setPaginacion(page)">{{page}} </a>
                            </li>

                            <li class="page-item" [ngClass]="{'disabled': capacitaciones.current_page == capacitaciones.last_page}">
                                <a class="page-link" href="javascript:void(0)" (click)="setPaginacion(capacitaciones.current_page + 1)">Next</a>
                            </li>
                        </ul>
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
