<app-pasos></app-pasos>
<form name="form" (ngSubmit)="onSubmit()">
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="tipo"> * Estado:</label>
                        <div class="controls">
                            <input list="estado" class="form-control" [(ngModel)]="acta.tipo" name="tipo" placeholder="Nombre" required autofocus />
                            <datalist id="estado">
                                <option value="Conformidad">
                                <option value="Rechazo">
                            </datalist>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="fecha"> Fecha:</label>
                        <div class="controls">
                            <input type="date" class="form-control" [(ngModel)]="acta.fecha" name="fecha" placeholder="Nombre"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>

                <button [disabled]="loading" class="btn btn-primary pull-right">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </div>
</div>
</form>