
<div class="row">
    <div class="btn-group col-xs-12">
            <a [routerLink]="['/' + componente + '/' + paso.url + '/', entidad.id ]" type="button" *ngFor="let paso of pasos" 
                class="col-xs-{{paso.rows}} btn"
                [ngClass]="{'active btn-primary': paso.id === tab, 
                            'btn-default': paso.id != tab, 'disabled' : !entidad.id && paso.id > 1
                }">
                Paso {{paso.id}}<br/> 
                <strong> {{paso.titulo}} </strong>
            </a>
    </div>
</div>
<br>