<div class="container">

<section class="content-header">
    <h1> Contabilidad <small>Listado</small> </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#">Contabilidad</a></li>
        <li class="active">Lista</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                
            </div>
        </div>
    </div>
</section>

</div>