<div class="container">

<section class="content-header">
    <h1> Noticia <small>Edición</small> </h1>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a [routerLink]="['/noticias']">Noticias</a></li>
        <li class="active">Edición</li>
    </ol>
</section>

<section class="content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
        
        <form name="form" (ngSubmit)="onSubmit()" method="POST" enctype="multipart/form-data">
            <div class="box box-primary">
                
                <div class="box-body">
                    <div class="imagen-upload col-md-6" title="Cambiar imagen"> 
                    
                    <img *ngIf="noticia?.img && !url_img_preview" class="img-responsive" src="{{ apiService.baseUrl + '/img/' + noticia.img }}" height="60%" width="60%">
                    <img *ngIf="url_img_preview" src="{{ url_img_preview }}" height="60%" width="60%">
                    <input type="file" class="inputfile" name="img" id="file" (change)="setFile($event)" accept="image/png, image/jpeg">
                    <label for="file"></label>
                </div>
                 
                  <div class="form-group col-md-5">
                        <label for="nombre">Titulo:</label>
                        <input type="text" class="form-control" [(ngModel)]="noticia.titulo" name="nombre" placeholder="Nombre" required autofocus>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="categoria">Categoria:</label>
                        <select name="categoria" class="form-control" [(ngModel)]="noticia.categoria">
                            <option value="Tips">Tips</option>
                            <option value="Asesorías">Asesorías</option>
                            <option value="Casos de Éxito">Casos de Éxito</option>
                            <option value="Eventos">Eventos</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="tipo">Tipo:</label>
                        <select class="form-control" [(ngModel)]="noticia.tipo" name="tipo">
                            <option value="Financiero">Financiero</option>
                            <option value="Empresarial">Empresarial</option>
                            <option value="Tecnología">Tecnología</option>
                            <option value="Redes Sociales">Redes Sociales</option>
                            <option value="Marketing Digital">Marketing Digital</option>
                            <option value="Empresialidad Femenina">Empresialidad Femenina</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12"><br>
                        <label for="descripcion">Descripción:</label>
                        <input type="text" class="form-control" [(ngModel)]="noticia.descripcion" name="descripcion" placeholder="Descripción">
                    </div>

                    <form class="form-group col-md-12">                   
                    <quill-editor name="contenido" [(ngModel)]="noticia.contenido"></quill-editor>
                    </form>
                </div>
               
                <div class="box-footer">
                    <a href="javascript:window.history.back();" class="btn btn-default"><i class="fa fa-angle-left"></i> Volver</a>

                    <button [disabled]="loading" class="btn btn-primary pull-right">
                        <span *ngIf="!loading">Guardar</span>
                        <span *ngIf="loading">Guardando...</span>
                    </button>
                </div>
            </div>
            </form>

        </div>
    </div>
</section>

</div>