<div class="container">

<section class="content-header">
    <h1> Noticia <small>Edición</small> </h1>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a [routerLink]="['/noticias']">Noticias</a></li>
        <li class="active">Edición</li>
    </ol>
</section>

<section class="content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
        
        <form name="form" (ngSubmit)="onSubmit()" method="POST" enctype="multipart/form-data">
            <div class="box box-primary">
                
                <div class="box-body">
                    <div class="col-xs-12 text-center img-thumbnail file-upload">
                        <img *ngIf="noticia.img && !preview" src="{{ apiService.baseUrl + 'img/noticias/' + noticia.img }}" height="100">
                        <img *ngIf="!noticia.img && !preview" src="{{ apiService.baseUrl + 'img/noticias/default.jpg' }}" height="100">
                        <img *ngIf="url_img_preview && preview" src="{{ url_img_preview }}" height="100">
                        <input type="file" name="img" (change)="setFile($event)" accept="image/png, image/jpeg">
                    </div>

                    <div class="form-group col-md-8">
                        <label for="nombre">* Titulo:</label>
                        <input type="text" class="form-control" [(ngModel)]="noticia.titulo" name="nombre" placeholder="Nombre" required autofocus>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="categoria">Categoria:</label>
                        <select name="categoria" class="form-control" [(ngModel)]="noticia.categoria">
                            <option value="Tips">Tips</option>
                            <option value="Asesorías">Asesorías</option>
                            <option value="Casos de Éxito">Casos de Éxito</option>
                            <option value="Eventos">Eventos</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="descripcion">Descripción:</label>
                        <input type="text" class="form-control" [(ngModel)]="noticia.descripcion" name="descripcion" placeholder="Descripción">
                    </div>

                    <div class="form-group col-md-12">
                        <app-ngx-editor *ngIf="noticia" name="contenido" [placeholder]="'Contenido'" [spellcheck]="true" [(ngModel)]="noticia.contenido"></app-ngx-editor>
                    </div>

                </div>

                <div class="box-footer">
                    <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>

                    <button [disabled]="loading" class="btn btn-primary pull-right">
                        <span *ngIf="!loading">Guardar</span>
                        <span *ngIf="loading">Guardando...</span>
                    </button>
                </div>
            </div>
            </form>

        </div>
    </div>
</section>

</div>