/* You can add global styles to this file, and also import other style files */
.main{
	min-height: calc(100vh - 120px);
    width: 100%;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

.imagen-upload{
    position: relative;
    text-align: center;
}
.inputfile + label {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer; /* "hand" cursor */
}

.pagination {
    margin: 0px;
}
.buscador{
	position: absolute;
	z-index: 1000;
}

.mr{
    margin-left: 20px;
}

.box-header .box-title {
    font-size: 21px;
    font-weight: bold;
}
.box{
    margin-bottom: 0px;
}
.box-header {
    min-height: 45px;
}

.loading {
    position: absolute;
    right: 50%;
    left: 47%;
    top: 30%;
}

.thumbler{
	min-height: 200px;
	padding: 50px;
}

.progress{
    margin-bottom: 5px;
}

/* Editor */
.fr-toolbar{
    border-top: 0px !important;
}

/* File */

.file-upload { overflow: hidden; position: relative; text-align: center; cursor: pointer; }
.file-upload:hover{ opacity: .5; }

.file-upload > input {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    opacity: 0;
}