<div class="container">

<section class="content-header">
    <h1>
        <a [routerLink]="['/clientes']" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
    </h1>
    <ol class="breadcrumb">
      <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a [routerLink]="['/clientes']"><i class="fa fa-list"></i> Pacientes</a></li>
      <li class="active">Analisis</li>
    </ol>
</section>

<section class="content animated fadeIn">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title with-border">{{cliente?.nombre}}
                        <small>{{cliente?.registro}} {{cliente?.municipio}}</small>
                    </h3>
                    <span *ngIf="cliente?.num_ventas" class="badge pull-right">{{ cliente?.num_ventas }} Ventas</span>
                </div>
                <div class="box-body table-responsive no-padding">
                    <div class="panel-heading">
                        <h2 class="text-center no-margin">Historial de Compras</h2>
                    </div>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="hidden-xs">Fecha</th>
                                <th class="hidden-xs">Referencia</th>
                                <th>Estado</th>
                                <th class="hidden-xs">Forma de pago</th>
                                <th class="text-center">Total</th>
                                <th class="text-center"><i class="fa fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8" class="text-center" *ngIf="cliente?.num_ventas <= 0">
                                    <span class="label label-info">No tiene ventas registrados</span>
                                </td>
                            </tr>

                            <tr class="animated fadeIn" *ngFor=" let venta of cliente?.ventas">
                                
                                <td class="text-center">{{venta.id}}</td>
                                <td class="hidden-xs">{{venta.fecha}}</td>
                                <td class="hidden-xs">{{venta.referencia}}</td>
                                <td>{{venta.estado}}</td>
                                <td class="hidden-xs">{{venta.forma_de_pago}}</td>
                                <td class="text-center">{{venta.total | currency:'USD':'true':'1.2'}}</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-default" [routerLink]="['/venta/', venta.id]" tooltip="Editar">
                                        <i class="fa fa-pencil"></i>
                                        </a>
                                        <a class="btn btn-default" [routerLink]="['/venta/historial/', venta.id]" tooltip="Historial">
                                        <i class="fa fa-book"></i>
                                        </a>
                                        <a class="btn btn-default" (click)="delete(venta.id)" tooltip="Eliminar">
                                        <i class="fa fa-trash"></i></a>
                                    </div>  
                                </td>

                            </tr>
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

</div>