<app-pasos></app-pasos>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="con-xs-12">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center no-print"><i class="fa fa-cog"></i></th>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Empresa</th>
                                <th>Correo</th>
                                <th>Oferta</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8" class="text-center" *ngIf="consultores.length <= 0"><span class="label label-info">Cargando...</span></td>
                            </tr>
                            
                            <tr *ngFor=" let consultor of consultores">
                                
                                <td class="text-center">
                                    <div class="btn-group btn-group-xs" role="group" style="width:50px;">
                                        <button type="button" class="btn btn-default" (click)="onDelete(especialidad)" data-toggle="tooltip" title="Editar">
                                        <i class="fa fa-trash"></i>
                                        </button>
                                    </div>  
                                </td>
                                
                                <td>{{consultor.id}}</td>
                                <td>{{consultor.consultor.nombre}}</td>
                                <td>{{consultor.consultor.empresa}}</td>
                                <td>{{consultor.consultor.correo}}</td>
                                <td class="text-center" width="50">
                                    <div *ngIf="!consultor.doc_oferta">
                                        <input type="file" name="file" id="file" class="inputfile" [ngModel]="doc" (change)="uploadFile(consultor, $event)">
                                        <label for="file">Subir</label>
                                    </div>
                                    <button class="btn btn-danger" *ngIf="consultor.doc_oferta" (click)="eliminarDoc(consultor);">
                                        Eliminar
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
