.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.625rem 1.25rem;
    color: #f1e5e6;
    background-color: #286090;
    border-radius: 4px;
    cursor: pointer; /* "hand" cursor */
}