<app-pasos></app-pasos>
<div class="row">
    <div class="col-xs-12">
        <form name="form" (ngSubmit)="onSubmit()">
        <div class="panel panel-default">
            <div class="panel-body">
                    <div class="col-xs-12 col-sm-3">
                        <div class="form-group">
                            <label for="venta_nacional"> Venta Nacional:</label>
                            <div class="controls">
                                <input type="number" class="form-control" name="venta_nacional" [(ngModel)]="indicador.venta_nacional" placeholder="0.0" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <div class="form-group">
                            <label for="venta_expo"> Venta exportación:</label>
                            <div class="controls">
                                <input type="number" class="form-control" name="venta_expo" [(ngModel)]="indicador.venta_expo" placeholder="0.0"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <div class="form-group">
                            <label for="costos"> Costos:</label>
                            <div class="controls">
                                <input type="number" class="form-control" name="costo" [(ngModel)]="indicador.costos" placeholder="0.0" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <div class="form-group">
                            <label for="financiamiento"> Financiamiento:</label>
                            <div class="controls">
                                <input type="number" class="form-control" name="financiamiento" [(ngModel)]="indicador.financiamiento" placeholder="0.0" />
                            </div>
                        </div>
                    </div>
                   <div class="col-xs-12 col-sm-2">
                        <div class="form-group">
                            <label for="capital"> Capital:</label>
                            <div class="controls">
                                <input type="number" class="form-control" name="capital" [(ngModel)]="indicador.capital" placeholder="0.0" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 text-center">
                         <div class="form-group">
                             <label for="nombre"> Empleados Hombres</label>
                         </div>
                    </div>
                    <div class="col-xs-6 text-center">
                         <div class="form-group">
                             <label for="nombre"> Empleados Mujeres</label>
                         </div>
                    </div>
                   <div class="col-xs-12 col-sm-3">
                        <div class="form-group">
                            <label for="empleados_hf"> Fijos:</label>
                            <div class="controls">
                                <input type="number" class="form-control" name="empleados_hf" [(ngModel)]="indicador.empleo_hf" placeholder="0.0" />
                            </div>
                        </div>
                    </div>
                   <div class="col-xs-12 col-sm-3">
                        <div class="form-group">
                            <label for="empleo_ht"> Temporales:</label>
                            <div class="controls">
                                <input type="number" class="form-control" name="empleo_ht" [(ngModel)]="indicador.empleo_ht" placeholder="0.0" />
                            </div>
                        </div>
                    </div>
                   <div class="col-xs-12 col-sm-3">
                        <div class="form-group">
                            <label for="empleo_mf"> Fijos:</label>
                            <div class="controls">
                                <input type="number" class="form-control" name="empleo_mf" [(ngModel)]="indicador.empleo_mf" placeholder="0.0" />
                            </div>
                        </div>
                    </div>
                   <div class="col-xs-12 col-sm-3">
                        <div class="form-group">
                            <label for="empleo_mt"> Temporales:</label>
                            <div class="controls">
                                <input type="number" class="form-control" name="empleo_mt" [(ngModel)]="indicador.empleo_mt" placeholder="0.0" />
                            </div>
                        </div>
                    </div>
            </div>
            <div class="panel-footer">
                <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>

                <button [disabled]="loading" class="btn btn-primary pull-right">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
        </form>

        <div class="panel panel-default">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center no-print"><i class="fa fa-cog"></i></th>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Asesor</th>
                        <th class="text-center">Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" class="text-center" *ngIf="indicadores.length <= 0"><span class="label label-info">Cargando...</span></td>
                    </tr>

                    <tr *ngFor=" let indicador of indicadores.data">
                        
                        <td class="text-center">
                            <div class="btn-group btn-group-xs" role="group" style="width:50px;">
                                <button type="button" class="btn btn-default" (click)="onSelect(indicador)" data-toggle="tooltip" title="Editar">
                                <i class="fa fa-pencil"></i>
                                </button>
                                <button type="button" class="btn btn-default" (click)="delete(indicador.id)" data-toggle="tooltip" title="Eliminar">
                                <i class="fa fa-trash"></i></button>
                            </div>  
                        </td>
                        
                        <td>{{indicador.id}}</td>
                        <td>{{indicador.created_at}}</td>
                        <td>{{indicador.asesor}}</td>
                        <td class="text-center">{{indicador.tipo}}</td>

                    </tr>
                </tbody>
                <tfoot>
                    <tr *ngIf="indicadores.last_page > 1">
                        <td colspan="8" class="text-center">
                            <nav>
                            <ul class="pagination">
                                <li class="page-item" [ngClass]="{'disabled': indicador.current_page == 1}">
                                    <a class="page-link" href="javascript:void(0)" (click)="setPaginacion(indicador.current_page - 1)" >Previous</a>
                                </li>
                                
                                <li class="page-item" [ngClass]="{'active': page == indicador.current_page}" *ngFor="let page of paginacion" >
                                    <a class="page-link" href="javascript:void(0)" (click)="setPaginacion(page)">{{page}} </a>
                                </li>

                                <li class="page-item" [ngClass]="{'disabled': indicador.current_page == indicador.last_page}">
                                    <a class="page-link" href="javascript:void(0)" (click)="setPaginacion(indicador.current_page + 1)">Next</a>
                                </li>
                            </ul>
                            </nav>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>