<div class="container">
    
<section class="content-header">
    <h1> Facturación <small>Edición</small> </h1>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a [routerLink]="['/ventas']">Facturación</a></li>
        <li class="active">Edición</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="panel panel-default">
        <div class="panel-body">
            <!-- Cliente -->
            <div class="row">
                <div class="form-group col-md-2">
                    <label for="fecha">* Fecha:</label>
                    <input type="date" class="form-control" [(ngModel)]="venta.fecha" name="fecha" required>
                </div>
                <div class="form-group col-sm-4">
                    <label for="nombre">* Cliente:</label>
                    <input type="search" class="form-control" [(ngModel)]="cliente.nombre" name="cliente" placeholder="Cliente" required (keyup)="searchCliente(cliente.nombre)">
                    <ul class="list-group buscador" *ngIf="clientes?.total > 0">
                      <a href="javascript:void(0);" (click)="selectCliente(cliente)" class="list-group-item" *ngFor=" let cliente of clientes.data">
                        {{cliente.nombre}} {{cliente.apellido}}
                      </a>
                    </ul>
                </div>
                <div class="form-group col-sm-2">
                    <label for="nit">NIT:</label>
                    <input type="text" class="form-control" [(ngModel)]="cliente.nit" name="nit" placeholder="xxxx-xxxxxx-xxx-x">
                </div>
                <div class="form-group col-sm-2">
                    <label for="registro">NRC:</label>
                    <input type="text" class="form-control" [(ngModel)]="cliente.registro" name="registro" placeholder="xxxx-x">
                </div>
                <div class="form-group col-sm-2">
                    <label for="giro">Giro:</label>
                    <input type="text" class="form-control" [(ngModel)]="cliente.giro" name="giro" placeholder="Giro">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 text-center">
                        
                    <a (click)="openModal(gasolina)" class="btn btn-lg btn-default" tooltip="Crear">
                        <i class="fa fa-plus"></i> G</a>
                    <a (click)="openModal(producto)" class="btn btn-lg btn-default" tooltip="Crear">
                    <i class="fa fa-plus"></i> P</a>
                </div>

                <ng-template #gasolina>
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">Combustible</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <button class="btn btn-block btn-danger">S</button>
                            </div>
                            <div class="col-xs-4">
                                <button class="btn btn-block btn-warning">R</button>
                            </div>
                            <div class="col-xs-4">
                                <button class="btn btn-block btn-success">D</button>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="form-group col-sm-12">
                                <label for="bomba">Bomba:</label>
                                <input type="number" min="1" class="form-control" [(ngModel)]="venta.bomba" name="bomba">
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="bomba">Tipo:</label><br>
                                <input type="checkbox" checked> $
                                <input type="checkbox"> Gal
                                <input type="checkbox"> + IVA
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="bomba">Cantidad:</label>
                                <input type="number" min="1" class="form-control" [(ngModel)]="venta.cantidad" name="cantidad">
                            </div>
                        </div>

                        <div class="row text-center">
                            <div class="col-xs-6">
                                <a (click)="modalRef.hide()" class="btn btn-default"> <i class="fa fa-angle-left"></i> Cancelar</a>
                            </div>
                            <div class="col-xs-6">
                                <button type="submit" class="btn btn-primary"> Agregar </button>
                            </div>
                        </div>

                  </div>
                </ng-template>

                <ng-template #producto>
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">Producto</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                        <div class="form-group col-sm-12">
                            <label for="nombre">* Producto:</label>
                            <input type="search" class="form-control" [(ngModel)]="producto.nombre" name="producto" placeholder="Producto" required (keyup)="searchProducto(producto.nombre)">
                            <ul class="list-group buscador" *ngIf="productos?.total > 0">
                              <a href="javascript:void(0);" (click)="selectProducto(producto)" class="list-group-item" *ngFor=" let producto of productos.data">
                                {{producto.nombre}} {{producto.apellido}}
                              </a>
                            </ul>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="precio">Precio:</label>
                            <input type="number" min="1" class="form-control" [(ngModel)]="producto.precio" name="precio">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="medida">Medida:</label><br>
                            <input type="number" min="1" class="form-control" [(ngModel)]="producto.medida" name="medida">
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="bomba">Cantidad:</label>
                            <input type="number" min="1" class="form-control" [(ngModel)]="producto.cantidad" name="cantidad">
                        </div>

                        <div class="row text-center">
                            <div class="col-xs-6">
                                <a (click)="modalRef.hide()" class="btn btn-default"> <i class="fa fa-angle-left"></i> Cancelar</a>
                            </div>
                            <div class="col-xs-6">
                                <button type="submit" class="btn btn-primary"> Agregar </button>
                            </div>
                        </div>

                  </div>
                </ng-template>
            </div>
            <!-- Tabla -->
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="text-center">Codigo</th>
                                <th>Descripción</th>
                                <th class="text-center">Cantidad</th>
                                <th class="text-center">U. Medida</th>
                                <th class="text-center">Precio</th>
                                <th class="text-center">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor=" let de of detalles">
                                <td style="width: 100px;" class="text-center">
                                    <a class="btn btn-default" (click)="selectDetalle(de)"><i class="fa fa-pencil"></i>
                                    </a>
                                    <a class="btn btn-danger" (click)="eliminarDetalle(de)"><i class="fa fa-minus"></i>
                                    </a>
                                </td>
                                <td class="text-center" style="width: 100px;">{{ de.id }}</td>
                                <td>{{ de.descripcion }}</td>
                                <td>{{ de.cantidad }}</td>
                                <td>{{ de.medida }}</td>
                                <td class="text-center" style="width: 150px;">{{ de.precio | currency:'USD':true:'1.2'}}</td>
                                <td class="text-center" style="width: 150px;">{{ de.cantidad * de.precio | currency:'USD':true:'1.2'}}</td>
                            </tr>
                            <tr>
                                <td colspan="6" class="text-right"><b>Sub Total:</b></td><td class="text-center">
                                {{ 0.87 | currency:'USD':true:'1.2'}}</td>
                            </tr>
                            <tr>
                                <td colspan="6" class="text-right"><b>Iva:</b></td><td class="text-center">
                                {{ 0.13 | currency:'USD':true:'1.2'}}</td>
                            </tr>
                            <tr>
                                <td colspan="6" class="text-right"><b>Total:</b></td><td class="text-center">{{ 1 | currency:'USD':true:'1.2'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-12">
                    <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>
                    <a *ngIf="venta.id" class="btn btn-default pull-right" style="margin-left: 15px;" href="{{ apiService.baseUrl + 'pdf/venta/' + venta.id }}" target="_black" data-toggle="tooltip" title="Imprimir"> <i class="fa fa-print"></i></a>
                    <button type="submit" class="btn btn-primary pull-right">
                        <span>Guardar</span>
                    </button>
                    <a (click)="openModal(facturar)" class="btn btn-primary pull-right">
                        <span>Facturar</span>
                    </a>

                    <ng-template #facturar>
                      <div class="modal-header">
                        <h4 class="modal-title pull-left">Facturación</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-block btn-default">Recibo</button>
                                <br>
                                </div>
                                <div class="col-xs-12">
                                    <button class="btn btn-block btn-default">Factura</button>
                                <br>
                                </div>
                                <div class="col-xs-12">
                                    <button class="btn btn-block btn-default">Vale</button>
                                </div>

                                <div class="form-group col-sm-12">
                                    <br>
                                    <label for="referencia">Referencia:</label><br>
                                    <input type="text" class="form-control" [(ngModel)]="venta.referencia" name="referencia">
                                </div>

                            </div>
                            
                            <br><br>
                            <div class="row text-center">
                                <div class="col-xs-12">
                                    <a (click)="modalRef.hide()" class="btn btn-default"> <i class="fa fa-angle-left"></i> Cancelar</a>
                                </div>
                            </div>

                      </div>
                    </ng-template>

                </div>
            </div>
        </div>
    </div>

</section>

</div>