<app-pasos></app-pasos>

<form name="form" (ngSubmit)="onSubmit()">
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center no-print"><i class="fa fa-cog"></i></th>
                            <th>ID</th>
                            <th>Creado</th>
                            <th>Tema</th>
                            <th>Estado</th>
                            <th>Especialidad</th>
                            <th>Asesor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="8" class="text-center" *ngIf="historial.length <= 0"><span class="label label-info">Cargando...</span></td>
                        </tr>

                        <tr *ngFor=" let at of historial.ats">
                            
                            <td class="text-center">
                                <div class="btn-group btn-group-xs" role="group" style="width:50px;">
                                    <button type="button" class="btn btn-default" [routerLink]="['/asistencias-tecnicas/termino/', at.id]" data-toggle="tooltip" title="Editar">
                                    <i class="fa fa-pencil"></i>
                                    </button>
                                </div>  
                            </td>
                            
                            <td>{{at.id}}</td>
                            <td>{{at.created_at}}</td>
                            <td>{{at.tema}}</td>
                            <td>{{at.estado}}</td>
                            <td>{{at.especialidad}}</td>
                            <td>{{at.asesor}}</td>

                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="historial.last_page > 1">
                            <td colspan="8" class="text-center">
                                <nav>
                                <ul class="pagination">
                                    <li class="page-item" [ngClass]="{'disabled': historial.current_page == 1}">
                                        <a class="page-link" href="javascript:void(0)" (click)="setPaginacion(historial.current_page - 1)" >Previous</a>
                                    </li>
                                    
                                    <li class="page-item" [ngClass]="{'active': page == historial.current_page}" *ngFor="let page of paginacion" >
                                        <a class="page-link" href="javascript:void(0)" (click)="setPaginacion(page)">{{page}} </a>
                                    </li>

                                    <li class="page-item" [ngClass]="{'disabled': historial.current_page == historial.last_page}">
                                        <a class="page-link" href="javascript:void(0)" (click)="setPaginacion(historial.current_page + 1)">Next</a>
                                    </li>
                                </ul>
                                </nav>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
            <div class="panel-footer">
                <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>

                <button [disabled]="loading" class="btn btn-primary pull-right">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </div>
</div>
</form>