<div class="container">
<section class="content-header">
    <h1> Equipo <small>Edición</small> </h1>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Equipo</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="row">

        
        <div class="col-sm-12">

          
          <div class="box box-primary" style="min-height: 100px;">
            <div class="box-body box-profile">
                <div class="imagen-upload">
                    <img *ngIf="equipo?.avatar" width="100" class="img-responsive img-circle" src="{{ apiService.baseUrl + '/img/team/' + equipo.avatar }}" style="margin: auto;">
                    <!-- <input type="file" name="avatar" id="file" class="inputfile" (change)="uploadFile(equipo, $event)"> -->
                    <label for="file"></label>
                </div>

                <h3 class="text-center" style="margin-top: 0px;">{{ equipo.nombre }}</h3>
                <p class="text-center">{{ equipo.cargo }}</p>
                <div class="text-right checkbox pull-right">
                    <label>Web: <input type="checkbox" [(ngModel)]="equipo.web" name="web"></label>
                </div>

            </div>
          </div>
        </div>
        
        
        <div class="col-sm-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li><a href="#info" data-toggle="tab">Información</a></li>
              <li><a href="#cuenta" data-toggle="tab">Cuenta</a></li>
              <li class="active"><a href="#metas" data-toggle="tab">Metas</a></li>
              <li><a href="#empresas" data-toggle="tab">Empresas</a></li>
              <li><a href="#historial" data-toggle="tab">Asesorías</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade" id="info">
                    <app-equipo-info *ngIf="equipo.id" [equipo] = "equipo"></app-equipo-info>
                </div>

                <div class="tab-pane fade" id="cuenta">
                   <app-equipo-cuenta *ngIf="equipo.id" [equipo] = "equipo"></app-equipo-cuenta>                   
                </div>

                <div class="tab-pane fade in active" id="metas">
                   <app-equipo-metas *ngIf="equipo.id" [equipo] = "equipo"></app-equipo-metas>
                </div> 
                <div class="tab-pane fade" id="empresas">
                   <app-equipo-empresas *ngIf="equipo.id" [equipo] = "equipo"></app-equipo-empresas>
                </div>  

                <div class="tab-pane fade" id="historial">
                   <!-- <app-equipo-ordenes *ngIf="equipo.id" [equipo_id] = "equipo.id"></app-equipo-ordenes> -->
                </div>          
            </div>
          </div>
        </div>

    </div>
</section>
</div>