<div class="container">

<section class="content-header">
    <h1> Clientes <small>Listado</small> </h1>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Clientes</li>
    </ol>
</section>

<section class="content animated fadeIn">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <span class="label label-default" *ngIf="clientes?.total">Registros: {{clientes?.total}}</span>
                    <div class="box-tools">
                        <div class="input-group" style="width: 350px;">
                        <form name="form" (ngSubmit)="search(buscador)">
                            <input type="text" name="search" class="form-control input-sm pull-right" placeholder="Buscar" [(ngModel)]="buscador" (keyup)="search(buscador)">
                        </form>
                            <div class="input-group-btn">
                                <button (click)="search(buscador)" class="btn btn-sm btn-default" tooltip="Buscar"><i class="fa fa-search"></i></button>
                                <a (click)="loadAll()" class="btn btn-sm btn-success" tooltip="Actualizar"><i class="fa fa-refresh"></i></a>
                                <a [routerLink]="['/cliente/nuevo']" class="btn btn-sm btn-primary" tooltip="Crear"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th>Nombre</th>
                                <th class="hidden-xs">Registro</th>
                                <th class="text-center">P. Anticipado</th>
                                <th class="text-center">P. Pendiente</th>
                                <th class="text-center">Ventas</th>
                                <th class="text-center"><i class="fa fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="8" class="text-center" *ngIf="clientes?.total < 1">
                                    <span class="label label-info">No tiene clientes? registrados</span>
                                </td>
                            </tr>

                            <tr class="animated fadeIn" *ngFor=" let cliente of clientes?.data">
                                
                                <td class="text-center">{{ cliente.id }}</td>
                                <td>{{ cliente.nombre }}</td>
                                <td class="hidden-xs">{{ cliente.registro }}</td>
                                <td class="text-center">{{ cliente.pago_anticipado | currency:'USD':'true':'1.2' }}</td>
                                <td class="text-center">{{ cliente.pago_pendiente | currency:'USD':'true':'1.2' }}</td>
                                <td class="text-center">{{ cliente.num_ventas }}</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-default" [routerLink]="['/cliente/', cliente.id]" tooltip="Editar">
                                        <i class="fa fa-pencil"></i>
                                        </a>
                                        <a class="btn btn-default" [routerLink]="['/cliente/ventas/', cliente.id]" tooltip="Historial">
                                        <i class="fa fa-arrow-right"></i>
                                        </a>
                                        <a class="btn btn-default" (click)="delete(cliente.id)" tooltip="Eliminar">
                                        <i class="fa fa-trash"></i></a>
                                    </div>  
                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr *ngIf="clientes?.last_page > 1">
                                <td colspan="8" class="text-center">
                                    <nav>
                                    <ul class="pagination">
                                        <li class="page-item" [ngClass]="{'disabled': clientes?.current_page == 1}">
                                            <a href="javascript:void(0)" (click)="setPaginacion(clientes?.current_page - 1)" >Previous</a>
                                        </li>
                                        
                                        <li class="page-item" [ngClass]="{'active': page == clientes?.current_page}" *ngFor="let page of paginacion" >
                                            <a href="javascript:void(0)" (click)="setPaginacion(page)">{{page}} </a>
                                        </li>

                                        <li class="page-item" [ngClass]="{'disabled': clientes?.current_page == clientes?.last_page}">
                                            <a href="javascript:void(0)" (click)="setPaginacion(clientes?.current_page + 1)">Next</a>
                                        </li>
                                    </ul>
                                    </nav>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

</div>